<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
</head>
<body>

    <header>
        <h1>Iniciar Sesión</h1>
    </header>
    <main>
        <section>
            <div th:if="${param.error}" class="error-message">
                <p>Usuario o contraseña incorrectos</p>
            </div>
            <!--Cambiar la ruta de th:action-->
            <form th:action="@{/public/auth/login}" method="post"> <!-- Formulario para enviar credenciales -->
                <div>
                    <label for="username">Usuario:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div>
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div>
                    <button type="submit">Iniciar Sesión</button>
                </div>
            </form>
            <div>
                <p>¿No tienes una cuenta? <a th:href="@{/public/register}">Regístrate aquí</a>.</p>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Mi Aplicación</p>
    </footer>
</body>
</html>